{% extends 'base.html.twig' %}

{% block title %}Форум{% endblock %}

{% block body %}
    <div class="col-sm-10 offset-sm-2">
        <a href="{{ path('post_add') }}">Добавить новый пост</a>
    </div>

    <h1>Список постов</h1>

{% for post in posts%}

    <span>{{ post.headerPost }}</span><br>
    <span>{{ post.publicationAt | date('Y-m-d, h-i-s') }}</span><br>
    <span>{{ post.getCollapsedPost }}</span>
    <a href = "{{ path('post', {'id': post.id}) }}">Читать дальше</a><br>
    <br>

{% endfor %}

{% endblock %}
